body
{
    margin: 0px;
   text-align: center;
    font-family: sans-serif;
}
h1
{
    color: #66BFBF;
    margin: 0px; 
    font-family: 'sacramento', cursive;
    font-size: 90px;
}
p
{
    color: sandybrown;
    line-height: 2;
}
h2
{
    padding-bottom: 10px;
    color: #66BFBF;
}
h3
{
    color: #66BFBF;
}
hr
{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;
}
a
{
    color: #11999E;
    margin: 10px 10px;
    text-decoration: none;
}
a:hover
{
    color: black;
}
.first
{
    background-color:aquamarine;
    position: relative;
    padding-top: 100px;
}
.second
{
    margin: 100px auto;
}
.top-cloud
{
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud
{
    position: absolute;
    left: 250px;
    bottom: 300px; 

}
.mountain
{
    opacity: 0.3;
}
.profile-img
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.code-img
{ 

    width: 150px;
    height: 150px;

}
.c-img 
{
    width: 100px;
    height: 100px;
}
.skills
{
    width: 50%;
    margin: auto;
    line-height: 2;
}
.intro
{
    width: 30%;
    margin: auto;
}
.btn
{
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover 
{
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.copyright
{
    color: #66BFBF;
    font-size: 0.75rem;
    padding: 10px 0px;
}